.formReg {
  margin: 0 auto;
  margin-top: 10%;

  width: 350px;

  text-align: center;
}

.headerReg {
  padding-bottom: 25px;
}

.usernameInput {
  margin-left: 20px;
  margin-top: 20px;
  width: 280px;
  height: 30px;
  border-radius: 5px;
}

.password {
  font-weight: bold;
}

.passwordInput {
  width: 280px;
  height: 30px;
  border-radius: 5px;
}

.buttonReg {
  background-color: blue;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 25px;
  height: 40px;
  width: 290px;
}
