.purple {
  background-color: #8033cc;
}

.admin-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 5px;
  flex-direction: column;
}

.admin {
  max-width: none;
  padding-left: 40px;
}

.card-large {
  margin: 10px;
  padding: 20px;
  background: #f0f0f0;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  padding: 0 5px;
  height: 35px;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.adjust {
  height: 25px;
}
